h1 {
    text-align: center;
	color: #5c5c5e;
    margin: 0;
    font-size: 40px;
    padding-top: 90px;
}

.header-bar{
    width: 70px;
    height: 4px;
    background: #5c5c5e;
    margin: 15px auto 100px auto;
}

#websites {
    background: #F5F5F5;
}

#contact {
    background: #E8E8E8;
}

section {
    padding-bottom: 130px;
}

/* ------------------------------------------
  CARD STYLES
--------------------------------------------- */
.gallery {
    margin: 20px 0;
}

.gallery img {
    width: 400px;
    height: 300px;
    max-width: 100%;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    position: relative;
    line-height: 0;
}

.card p {
    color: #1abc9c;
}

.card img {
	cursor: pointer;
	transition: opacity .5s;
}

.card:hover img {
	opacity: .05; 
}

.card:hover .text {
    opacity: 1;
    top: 24%; 
}

.card:hover .button-card {
    opacity: 1;
    bottom: 24%; 
}

.text {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    line-height: 1;
}

.button-card-standard {
    right: 0;
    bottom: 0;
    left: 0 !important;
    right: 0 !important;
}

.button-card {
    left: 0;
    bottom: 0;
    right: 28%;
    position: absolute;
    border: 2px solid #1abc9c;
    width: 100px;
    margin: 0 auto;
    font-size: 13pt;
    padding: 7px 0;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
}

.button-card:hover {
    background-color: #1abc9c;
	border-color: #1abc9c;
	color: white;
}

.button-card-git {
    right: 0;
    left: 28%;
}

.button-card:hover {
    color: #fff;
}

.text, .button-card {
    z-index: 2;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    color: #1B242F;
}

.title {
	font-size: 20px;
	font-style: bold;
}

@media all and (max-width: 368px) {
    .button-card {
        left: 0;
        bottom: 0;
        right: 37%;
    }
    .button-card-git {
        right: 0;
        left: 37%;
    }
}