.window {
    overflow: hidden;
    position: relative;
    background: #222;
}

.slide {
    max-height: 500px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.slide img {
    width: 100%;
}

.transition {
    transition: .7s;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.6);
}

.modal {
    position: relative;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    align-items: flex-start;
    text-align: left;
    box-sizing: border-box;
    color: #333;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 700px;
}

.close {
    bottom: 25px;
    right: 15px;
    color: #bbb;
    font-size: 20pt;
    position: absolute;
    font-weight: 800;
    cursor: pointer;
}

.info-box {
    border-top: 3px solid #1B242F;
    padding: 15px 10px 85px 10px;
    box-sizing: border-box;
    color: #444;
}

.modal-title {
    font-size: 26px;
    line-height: 26px;
}

.modal-tag {
    display: block;
    font-weight: 300;
    color: #c0c0c0;
    font-family: 'Raleway-bold';
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 0 15px 2px;
    font-size: 16px;
}

.detail {
    font-size: 18px;
    line-height: 1.25;
    margin-top: 13px;
}

.button-modal-site {
    padding: 11px 30px;
    font-size: 10pt;
    transition: all .5s;
    cursor: pointer;
    background: #1abc9c;
    font-weight: 600;
    border: 0;
    pointer-events: none;
    position: absolute;
    bottom: 25px;
    left: 10px;
}

.button-modal-site:hover {
    background: #fff;
}

.button-modal-site a {
    text-decoration: none;
    color: #fff;
}
.button-modal-site:hover a {
    color: #1abc9c;
}

.button-modal-git {
    left: 150px;
}

.visible {
    pointer-events: initial;
}

.visible .modal {
    transform: scale(1);
    opacity: 1;
}

@media screen and (max-width: 700px) {
    .slide img {
        height: 100%;
    }
    .modal {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 90%;
    }
    .modal-title {
        font-size: 20px;
        line-height: 20px;
    }
}